body {
	margin: 40px;
	font-family: 'Ubuntu Mono', sans-serif;
	color: black;
	font-size: 1em;
	font-weight: 300;
}

.flecha {
	font-weight: 600;
}

.red {
    color: red;
}

.green {
    color: green;
}
